body {
    margin: 0;
    height: 100vh;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: block;
    text-align: left;
    text-decoration: double;

}

.container {
    margin: 5px;
    padding: 5px;
    display: flex;
    height: 200px;
    width: 100%;
    max-width: 500px;
    min-height: 250px;
    background-color: aqua;
}

.hourInfo,
.wrapper {
    padding: 5px;
    height: 40px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(64, 135, 189);
    margin-bottom: 5px;
}

.fulltime,
.halftime {
    margin: 5px;
    display: block;
    width: auto;
    font-weight: bold;
}

.halftime {
    visibility: hidden;
}

.switch {
    padding-top: 5px;
    padding-left: 5px;
    height: 20px;
    width: 50px;
    background-color: #252525;
    border-radius: 125px;
}

.ball {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: 0.2s;
    background-color: #FAEBD7;
}


.time {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 120px;
    width: -webkit-fill-available;
    background: rgb(68, 65, 124);
    color: white;
}

.hour,
.minute,
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(68, 65, 124);
    height: inherit;
    width: inherit;
    background-color: black;
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
}

@media screen and (max-width:325px) {

    .container {
        width: 100%;
        height: 100%;
        max-height: 500px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .hourInfo,
    .wrapper,
    .time {
        width: 98%;
    }

    .hour,
    .minute,
    .second {
        border: 2px solid whitesmoke;
        height: 32%;
        width: 100%;
        background-color: black;
    }

    .time {
        flex-wrap: wrap;
        height: 76%;
    }

}

@media screen and (min-width:325px) {

    .container {
        align-items: flex-start;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .hour,
    .minute,
    .second {
        width: inherit;
    }

}

@media screen and (max-width:350px) and (max-height:500px) {

    .container {
        width: 100%;
        height: 100%;
        max-height: 500px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .hourInfo,
    .wrapper {
        display: none;
    }

    .hour,
    .minute,
    .second {
        border: 2px solid whitesmoke;
        height: 32%;
        width: 100%;
        background-color: black;
    }

    .time {
        flex-wrap: wrap;
        height: 100%;
    }

}

@media screen and (max-width:200px) {

    .container {
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
    }

    .hourInfo,
    .wrapper {
        display: none;
    }

}


@media screen and (max-height:225px) {
    .container {
        overflow: hidden;
        margin-top: 100%;
        width: 100%;
        height: 300%;
        top: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .hourInfo,
    .wrapper {
        display: none;
    }

    .hour,
    .minute,
    .second {
        margin: 0;
        border: 2px solid whitesmoke;
        height: 30%;
        width: 100%;
        background-color: black;
        font-size: 35px;
    }

    .time {
        flex-wrap: wrap;
    }

}